
.contato img {
    width: 60px;
}

.contatos {
    
    text-align: center;
    padding-left: 18%;
    padding-right: 18%;
}


form {

    position: relative;
    top: 60%;
    left: 27.5%;
    height: 25%;
    width: 45%;
    text-align: center;
}  