.organizar {
    display: inline-block;

}

figcaption>p {
    font-family: Arial, Helvetica, sans-serif;
    color:  #ca6405; 
    list-style: none;
    text-align: left;
    font-size: 20px;
}
.categorias {
    font-family: Arial, Helvetica, sans-serif;
    color: #ca6405;
    float: left;
}

figure {
    text-align: center;
    margin: 20px;
    background-color: #ffc107 ;
    width: 250px;
    height: 350px;
    border-radius: 200px ;
    float: right;
    padding-top: 25px;

}

figure>img{
    width: 120px;

}


.titulo {
    text-align: center;
    color: #ca6405;
    margin: 0;
    padding: 0;

}

.preco {
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: line-through ;
    font-size: 20px;
    text-align: center;

}
.promocao {
    font-family: Arial, Helvetica, sans-serif; 
    color:  #ca6405; 
    text-align: center;

}